@import '../../variables.scss';

.root {
  background-color: $dark-blue;
  height: 100vh;
}

.container {
  width: 200px;
  margin: 35px auto 0 auto;
}

.logo {
  font-size: 30px;
  color: $bright-blue;
}

.list {
  margin-top: 54px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  li {
    position: relative;
    color: $white;
    display: flex;
    align-items: center;

    img {
      margin-right: 15px;
    }
  }

  .active::after {
    content: '';
    height: 32px;
    top: -6px;
    left: -25px;
    position: absolute;
    width: 5px;
    background: $white;
  }
}
